:root {
  --main-bg-colour: #bfc7ed;
  --secondary-bg-colour: #6699cc;
  --content-bg-colour: #e6c0e9;
  --main-txt-colour: #f8faf0;
  --outline-colour: #c9eddc;

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}
body {
  font-family: sans-serif;
  background: linear-gradient(#6699cc, #e6c0e9, #c9eddc);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section {
  border: 3px solid black;
  background-color: var(--secondary-bg-colour);
  opacity: 0.8;
  color: var(--main-txt-colour);
  padding: 12px;
}

button {
  background-color: var(--outline-colour);
  border-color: black;
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;

  width: fit-content;
  align-self: center;
  padding: 15px;
  margin: 10px 50px;

  font-size: 28px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  text-wrap: nowrap;

  transition: transform 0.3s, background-color 0.3s;
}
Button:hover {
  background-color: var(--main-txt-colour);
}
Button:active {
  transform: scale(0.9);
}
