* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: linear-gradient(#6699cc, #e6c0e9, #4b0f57);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  margin: 20px;
}

.rightSideHeader {
  position: fixed;
  border-radius: 10px;
  padding-left: 50px;
}

.rightSideHeader button {
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
  height: 75px;
  width: 75px;
  border-radius: 37.5px;
  border-style: solid;
}

.rightSideHeader button:hover {
  background-color: purple;
}

.container {
  margin-top: 100px;
  border: 5px solid black;
  width: 650px;
  height: 600px;
  background-color: lightblue;
  border-radius: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  flex-direction: column;
}

.nameBox {
  border: 5px solid black;
  color: blue;
  font-size: 30px;
  font-weight: bold;
  width: 200px;
  height: 80px;
  background-color: lightgreen;
  margin-top: 30px;
}

.gameSpace {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  width: 500px;
  height: 300px;
  background-color: lightgreen;
  margin-top: 20px;
}

img {
  width: 100px;
  height: 100px;
}
