* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: linear-gradient(#6699cc, #e6c0e9, #4b0f57);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px;
}

h2 {
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
}

p {
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
}

button {
  padding: 10px;
  border-radius: 50px;
  margin-top: 1rem;
  color: white;
  cursor: pointer;
  background-color: #8cd7b4;
  font-weight: 600;
  width: 60px;
}
