:root {
  --main-bg-colour: #bfc7ed;
  --secondary-bg-colour: #6699cc;
  --content-bg-colour: #e6c0e9;
  --main-txt-colour: #f8faf0;
  --outline-colour: #c9eddc;
}

/* DEFAULTS */
body {
  margin: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: var(--main-bg-colour);

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
  height: 80vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 20vh;
}
header img {
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: -5;
}
header h1 {
  font-size: 36px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(42, 42, 42);

  margin-top: 85px;
}
fieldset {
  border: none;
}
button {
  cursor: pointer;
}

/* CUSTOME SECTION */
.customiseContainer {
  border: 3px solid black;
  background-color: var(--secondary-bg-colour);

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 40vw;
  height: 75vh;

  overflow: auto;
}
.leftSideCustomise {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.rightSideCustomise {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-wrap: nowrap;

  margin: 25px;
}
.rightSideCustomise img {
  width: 100%;
  height: 100%;
}
.customiseButton {
  background-color: var(--outline-colour);
  border-color: black;
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;

  width: fit-content;
  align-self: center;
  padding: 15px;
  margin: 10px 50px;

  font-size: 28px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  text-wrap: nowrap;

  transition: transform 0.3s, background-color 0.3s;
}
.customiseButton:hover {
  background-color: var(--main-txt-colour);
}
.customiseButton:active {
  transform: scale(0.9);
}
#customiseFinish {
  border: none;
  box-shadow: 0px 0px 5px #c9eddc, 0px 0px 10px #c9eddc, 0px 0px 25px #c9eddc, 0px 0px 50px #c9eddc, 0px 0px 250px #c9eddc;
}
#petImg {
  border: 2px solid black;
}
#changePetColor {
  background-color: rgb(255, 255, 255);
  width: 150px;
  height: 150px;
}

/* Input Buttons */
#nameContainer {
  margin-top: -50px;

  display: none;
}
#nameContainer input {
  height: 5vh;
  text-align: center;
  border-radius: 5px;
  border: 2px solid black;
}
#nameContainer button {
  margin-left: 2px;
  background-color: black;
  color: white;
  border: 1px solid grey;
  border-radius: 5px;
  height: 5vh;
}
#colorPicker {
  display: none;
  margin-top: -60px;
  background-color: rgba(0, 0, 0, 0.238);
  color: white;
  border-radius: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#colorFormInput {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
#colorFormSubmit {
  margin-left: 2px;
  background-color: black;
  color: white;
  border: 1px solid grey;
  border-radius: 5px;
  height: 5vh;
}
#animalContainer {
  display: flex;
  position: static;
  top: 0;
}
.animalButton {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid silver;

  display: inline;

  transition: background-color 0.3s, transform 0.3s;
}
.animalButton:hover {
  background-color: rgb(59, 59, 59);
}
.animalButton:active {
  transform: scale(0.8);
}

/* Media Query for Mobile Devices */
@media (max-width: 1300px) {
  /* Reset the header styles */
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  header img {
    width: 100px;
    height: 100px;
  }

  .leftSideHeader {
    margin: 0;
  }

  .leftSideHeader h1 {
    padding: 20px 0;
    font-size: 36px;
  }

  size and spacing */ .rightSideHeader button {
    height: 75px;
    width: 75px;
  }
  .customiseContainer {
    flex-direction: column-reverse;
    width: 80vw;
    height: 75vh;
  }

  .rightSideCustomise {
    margin-top: 25px;
  }
}
