:root {
  --main-bg-colour: #bfc7ed;
  --secondary-bg-colour: #6699cc;
  --content-bg-colour: #e6c0e9;
  --main-txt-colour: #f8faf0;
  --outline-colour: #c9eddc;
}

/* DEFAULTS */
body {
  margin: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: var(--main-bg-colour);

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 20vh;
}
header img {
  width: 150px;
  height: 150px;
}
fieldset {
  border: none;
}

/* HEADER SECTION */
.leftSideHeader {
  display: flex;
  align-items: center;
  margin-left: 25vw;
  color: var(--main-txt-colour);
}
.leftSideHeader h1 {
  padding-left: 100px;
  font-size: 48px;
  font-weight: bold;
  text-wrap: nowrap;
}
.rightSideHeader {
  margin-right: 25vw;
  padding-left: 50px;
}
.rightSideHeader button {
  background-color: var(--content-bg-colour);
  color: black;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;

  height: 75px;
  width: 75px;
  border-radius: 37.5px;
  border-style: solid;
  border-color: var(--outline-colour);
  overflow: hidden;

  box-shadow: 0px 0px 5px var(--content-bg-colour), 0px 0px 10px var(--content-bg-colour), 0px 0px 25px var(--content-bg-colour),
    0px 0px 100px var(--content-bg-colour);

  transition: transform 0.3s, background-color 0.3s;
}
.rightSideHeader button:hover {
  background-color: var(--secondary-bg-colour);
  transform: scale(1.05);
  box-shadow: 0px 0px 5px var(--secondary-bg-colour), 0px 0px 10px var(--secondary-bg-colour), 0px 0px 25px var(--secondary-bg-colour),
    0px 0px 100px var(--secondary-bg-colour);
}
.rightSideHeader button:active {
  transform: scale(0.8);
}

/* CUSTOME SECTION */
.customiseContainer {
  border: 3px solid black;
  background-color: var(--secondary-bg-colour);

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 40vw;
  height: 60vh;

  overflow: auto;
}
.leftSideCustomise {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.rightSideCustomise {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-wrap: nowrap;

  margin: 25px;
}
.rightSideCustomise img {
  width: 150px;
  height: 150px;
}
.customiseButton {
  background-color: var(--outline-colour);
  border-color: black;
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;

  width: fit-content;
  align-self: center;
  padding: 15px;
  margin: 10px 50px;

  font-size: 28px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  text-wrap: nowrap;

  transition: transform 0.3s, background-color 0.3s;
}
.customiseButton:hover {
  background-color: var(--main-txt-colour);
}
.customiseButton:active {
  transform: scale(0.9);
}
#customiseFinish {
  border: none;
  box-shadow: 0px 0px 5px #c9eddc, 0px 0px 10px #c9eddc, 0px 0px 25px #c9eddc, 0px 0px 50px #c9eddc, 0px 0px 250px #c9eddc;
}
#petSavesContainer {
  width: 50vw;
  height: 50vh;
  background-color: grey;

  position: absolute;
  top: 25%;
  left: 25%;
  right: 0;
  bottom: 0;

  display: none;
  flex-direction: column;
  overflow-y: auto;
}
.savedData {
  font-size: 32px;
  border: 2px solid black;
  background-color: silver;
  flex: 1;
}
#petImg {
  border: 2px solid black;
}

/* Input Buttons */
#nameContainer {
  margin-top: -50px;

  display: none;
}
#nameContainer input {
  height: 5vh;
  text-align: center;
  border-radius: 5px;
  border: 2px solid black;
}
#nameContainer button {
  margin-left: 2px;
  background-color: black;
  color: white;
  border: 1px solid grey;
  border-radius: 5px;
  height: 5vh;
}

/* Media Query for Mobile Devices */
@media (max-width: 1300px) {
  /* Reset the header styles */
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  header img {
    width: 100px;
    height: 100px;
  }

  .leftSideHeader {
    margin: 0;
  }

  .leftSideHeader h1 {
    padding: 20px 0;
    font-size: 36px;
  }

  size and spacing */ .rightSideHeader button {
    height: 75px;
    width: 75px;
  }
  .customiseContainer {
    flex-direction: column-reverse;
    width: 80vw;
  }

  .rightSideCustomise {
    margin-top: 25px;
  }
}
