/* Background: #EBD5EB
Background2: #F8FAF0
Game Background (DON'T CHANGE):#F8FAF0
Buttons: #C9EDDC
Buttons2: #E6C0E9
Header: #95DBAE 
Text1: #50769B
Text2: #2F2F2F
Text3: #FFF8FE
Borders: #6699CC */

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

#pet-container {
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 150px;
  color: #fff;
  margin: 20px auto;
}

/* .cat {
  display: none;
} */

.levels-container {
  width: 150px;
  height: 20px;
  background-color: #ccc;
  border-radius: 5px;
  margin: 10px auto;
  position: relative;
}

#hunger-bar {
  height: 100%;
  width: 100%;
  background-color: #ffcc00;
  border-radius: 5px;
  transition: width 0.5s;
  max-width: 100%;
}

#health-bar {
  height: 100%;
  width: 100%;
  background-color: #41af20;
  border-radius: 5px;
  transition: width 0.5s;
  max-width: 100%;
}

#happy-bar {
  height: 100%;
  width: 100%;
  background-color: #e099d2;
  border-radius: 5px;
  transition: width 0.5s;
  max-width: 100%;
}

.food-button {
  margin-top: 50px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#feed-button:hover {
  background-color: #357c39;
}
